@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.background {
		background: #141e30;
		background: -webkit-linear-gradient(to right, #141e30, #243b55);
		background: linear-gradient(to right, #141e30, #243b55);
	}
}
